.btn {
  height: rem(60);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: rem(16);
  text-transform: uppercase;
  color: $color-main-bg;
  transition: all .3s ease;
  width: 100%;
  cursor: pointer;
  padding: 0 rem(6);
  overflow: hidden;
  position: relative;
  border: 1px solid $color-green;
  user-select: none;


  .btn-ttl {
    position: relative;
    z-index: 2;
  }

  &.btn-full {
    color: $color-main-bg;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $color-green;
      z-index: -1;
      transition: all .5s;
    }
    &:hover::before {
      width: 1px;
      transition: .5s;
    }

    &:hover {
      animation: colorize .5s ease-in-out forwards reverse;
    }
  }
  &.btn-empty {
    background: none;
    color: $color-white;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background-color: $color-green;
      z-index: -1;
      transition: all .5s;
    }
    &:hover::before {
      width: 100%;
      transition: .5s;
    }

    &:hover {
      animation: colorize .5s ease-in-out forwards;
    }

  }

}

@keyframes colorize {
  0% {
    color: $color-white;
  }
  25% {
    color: $color-white;
  }
  100% {
    color: $color-main-bg;
  }
}
