.btn {
  height: rem(60);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: rem(16);
  text-transform: uppercase;
  color: $color-main-bg;
  transition: all .3s ease;
  width: 100%;
  cursor: pointer;
  padding: 0 rem(6);
  overflow: hidden;
  position: relative;
  border: 1px solid $color-green;
  user-select: none;

  &:hover {
    transform: translate3d(0, -2px, 0);
  }


  .btn-ttl {
    position: relative;
    z-index: 2;
  }

  &.btn-full {
    color: $color-main-bg;
    background: $color-green;
  }
  &.btn-empty {
    background: none;
    color: $color-white;
  }

}


