.svg {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.svg-stack-vue {
  @include svg-icon(48px, 48px, 'stack-vue');
}
.svg-stack-javascript {
  @include svg-icon(48px, 48px, 'stack-javascript');
  --icon-color: yellow;
}
.svg-stack-nuxt {
  @include svg-icon(48px, 48px, 'stack-nuxt');
}
.svg-stack-jquery {
  @include svg-icon(48px, 48px, 'stack-jquery');
}
.svg-stack-figma {
  @include svg-icon(48px, 48px, 'stack-figma');
}
.svg-stack-git {
  @include svg-icon(48px, 48px, 'stack-git');
}
.svg-stack-html {
  @include svg-icon(48px, 48px, 'stack-html5');
}
.svg-stack-css {
  @include svg-icon(48px, 48px, 'stack-css3');
}
.svg-stack-webpack {
  @include svg-icon(48px, 48px, 'stack-webpack');
}
.svg-figure-1 {
  @include svg-icon(141px, 137px, 'figure-1');
}
.svg-figure-2 {
  @include svg-icon(154px, 132px, 'figure-2');
}
.svg-figure-3 {
  @include svg-icon(296px, 294px, 'figure-3');
}
.svg-figure-4 {
  @include svg-icon(96px, 96px, 'figure-4');
}
.svg-figure-5 {
  @include svg-icon(365px, 322px, 'figure-5');
}
.svg-figure-6 {
  @include svg-icon(191px, 199px, 'figure-6');
}

.role-icon {
  width: rem(48);
  height: rem(48);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    fill: $color-green;
  }
}



