$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: #{$breakpoint-sm}) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: #{$breakpoint-md}) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: #{$breakpoint-lg}) { @content; }
  }
}

/*@include respond-to(md) {
  font-size: 14px;
}*/
