// Path
$base-url-svg: '../assets/img/svg/';
$base-url-img: '../assets/img/';
$base-url-sprite: '../assets/img/sprites/';

// Colors
$color-green: #4cff9e;
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(25, 19, 34, 0.9);
$color-main-bg: #191322;
$color-second-bg: #1e1a2a;

// Fonts
$font-geologica: 'Geologica', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;

// svg

// Sizes
$index: calc(1vw + 1vh);


