.svg {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.svg-stack-vue {
  width: 32px;
  height: 32px;
  background: url($base-url-svg + 'stack-vue.svg') no-repeat;
  background-size: contain;
}
.svg-stack-javascript {
  width: 32px;
  height: 32px;
  background: url($base-url-svg + 'stack-javascript.svg') no-repeat;
  background-size: contain;
}
.svg-stack-nuxt {
  width: 32px;
  height: 32px;
  background: url($base-url-svg + 'stack-nuxt.svg') no-repeat;
  background-size: contain;
}
.svg-stack-jquery {
  width: 32px;
  height: 32px;
  background: url($base-url-svg + 'stack-jquery.svg') no-repeat;
  background-size: contain;
}
.svg-stack-figma {
  width: 32px;
  height: 32px;
  background: url($base-url-svg + 'stack-figma.svg') no-repeat;
  background-size: contain;
}
.svg-stack-git {
  width: 32px;
  height: 32px;
  background: url($base-url-svg + 'stack-git.svg') no-repeat;
  background-size: contain;
}
.svg-stack-html {
  width: 32px;
  height: 32px;
  background: url($base-url-svg + 'stack-html5.svg') no-repeat;
  background-size: contain;
}
.svg-stack-css {
  width: 32px;
  height: 32px;
  background: url($base-url-svg + 'stack-css3.svg') no-repeat;
  background-size: contain;
}
.svg-stack-webpack {
  width: 32px;
  height: 32px;
  background: url($base-url-svg + 'stack-webpack.svg') no-repeat;
  background-size: contain;
}
.svg-figure-1 {
  width: 141px;
  height: 137px;
  background: url($base-url-svg + 'figure-1.svg') no-repeat;
  background-size: contain;
  position: absolute;
  left: -5%;
  top: 27%;
}
.svg-figure-2 {
  width: 154px;
  height: 132px;
  background: url($base-url-svg + 'figure-2.svg') no-repeat;
  background-size: contain;
  position: absolute;
  right: 40%;
  top: 28%;
  z-index: 1;
}
.svg-figure-3 {
  width: 296px;
  height: 294px;
  background: url($base-url-svg + 'figure-3.svg') no-repeat;
  background-size: contain;
  position: absolute;
  right: 49%;
  bottom: 0;
}
.svg-figure-4 {
  width: 96px;
  height: 96px;
  background: url($base-url-svg + 'figure-4.svg') no-repeat;
  background-size: contain;
  position: absolute;
  right: -2%;
  bottom: 8%;
}
.svg-figure-5 {
  width: 365px;
  height: 322px;
  background: url($base-url-svg + 'figure-5.svg') no-repeat;
  background-size: contain;
  position: absolute;
  right: -1%;
  top: -7%;
}
.svg-figure-6 {
  width: 191px;
  height: 199px;
  background: url($base-url-svg + 'figure-6.svg') no-repeat;
  background-size: contain;
  position: absolute;
  left: 18%;
  bottom: -18%;
}

.role-icon {
  width: rem(48);
  height: rem(48);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    fill: $color-green;
  }
}



