@import "vars";
@import "reset";
@import "fonts";
@import "icons";
@import "buttons";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $font-open-sans;
  font-size: rem(18);
  color: $color-white;
  min-width: rem(410);
  background: $color-main-bg;
}

use {
  pointer-events: none;
}

p {
  font-weight: 400;
  line-height: 1.5em;
  @include color-opacity($color-white, 0.5);

  & + p {
    margin-top: rem(16);
  }
  & + .role-icon {
    margin-top: rem(64);
  }
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  padding: 0 rem(32) 0;
  width: 100%;
  max-width: rem(1200);
}

.header {
  background: linear-gradient(0deg, hsla(221, 20%, 16%, 0.3) 0%, hsla(264, 28%, 10%, 1) 70%);

  &, & .wrapper {
    height: 100vh;
  }
  .wrapper {
    display: flex;
    align-items: center;
  }
}

.main {
  padding-bottom: rem(83);
  overflow: hidden;
}

.inner {
  max-width: rem(380);
  margin: 0 auto;
}

.h1, .h2, .h3, .h4 {
  line-height: 1.2em;
  color: $color-green;
  font-family: $font-geologica;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;

  & + p {
    margin-top: rem(16);
  }
}

.h1 {
  font-size: clamp(rem(40), 12.7vh, rem(96));
  font-weight: 700;
}
.h2 {
  font-size: rem(40);

  & + .h3 {
    margin-top: rem(16);
  }

}

.h3 {
  font-size: rem(18);
  font-weight: 400;
  @include color-opacity($color-white, 0.5);
}
.h4 {
  font-weight: 600;
  font-size: rem(24);
  color: #fff;
}

.link {
  color: red;
  transition: all, 0.3s, ease;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: blue;
  }
}

.t-center {
  text-align: center;
}
.hidden {
  visibility: hidden !important;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.intro {
  &__ttl {
    color: $color-white;
  }
  &__role {
    display: flex;
    align-items: center;
    margin-top: rem(8);
  }
  &__role-ttl {
    margin-left: rem(15);
    font-weight: 600;
    line-height: 1.5em;
  }
}

.about-me {
  background: $color-main-bg;
  position: relative;

  .wrapper {
    padding-top: clamp(rem(30), 28vh, rem(128));
    padding-bottom: clamp(rem(30), 28vh, rem(128));
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 rem(32);
    position: relative;
    z-index: 1;
  }

  &__bg-text {
    font-weight: 700;
    left: 0;
    right: 0;
    font-size: clamp(2rem, 15.3vw, rem(240));
    text-transform: uppercase;
    color: $color-second-bg;
    position: absolute;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    text-align: center;
    line-height: 1.1;
    z-index: 0;
    opacity: 0.6;
  }

  &__info {
    flex-basis: 40%;
  }
  &__foto {
    padding: rem(86) 0 0 rem(32);
    position: relative;
  }
  &__foto-layer-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  &__foto-layer-main {
    position: relative;
    z-index: 2;
  }
}

.technology-stack {
  background: $color-second-bg;
  position: relative;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(rem(30), 28vh, rem(128));
    padding-bottom: clamp(rem(30), 28vh, rem(128));
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(33) rem(16);
    margin-top: rem(64);
  }
  &__item {
    height: rem(56);
    padding: 0 rem(16);
    display: flex;
    align-items: center;
    @include color-opacity($color-green, 0.3, border, 1px solid);
    background: $color-black;
    position: relative;

    &:before {
      content: '';
      width: rem(6);
      height: rem(6);
      background: $color-green;
      border-radius: 50%;
      position: absolute;
      left: rem(-3);
      top: rem(-3);
    }
  }
  &__item-icon {
    margin-right: rem(8);
  }
  &__item-ttl {
    font-weight: 700;
    line-height: 1.5em;
  }
}


.examples {

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(rem(30), 34vh, rem(133));
    padding-bottom: clamp(rem(30), 34vh, rem(133));
  }
  &__list {
    margin-top: rem(64);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: rem(16);
  }
  &__item {
    position: relative;
    background: $color-second-bg;
    cursor: pointer;

    &:hover {
      padding: rem(1);
    }

    &:hover::before,
    &:hover::after {
      animation: spin 6s linear infinite;
      opacity: .7;
    }

    &::before {
      content: "";
      background-image: linear-gradient(var(--rotate), #4cff9e, rgba(76, 255, 158, 0.1) 43%, #191322);
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      transform: scale(0.8);
      filter: blur(calc(65vh / 10));
      background-image: linear-gradient(var(--rotate), #4cff9e, rgba(76, 255, 158, 0.1) 43%, #191322);
      transition: opacity .5s;
      opacity: 0;
    }

  }

  &__item-img,
  &__item-ttl {
    position: relative;
    z-index: 2;
  }
  &__item-img {
    img {
      object-fit: cover;
      width: 100%;
      height: rem(260);
    }
  }
  &__item-ttl {
    position: absolute;
    bottom: rem(32);
    left: rem(16);
    right: rem(16);
    text-align: center;
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

// Анимация вращения градиента

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


.footer {
  background: linear-gradient(180deg, hsla(264, 28%, 10%, 0) 20%, hsla(221, 20%, 16%, 1) 100%);
  position: relative;

  canvas {
    display: block;
    vertical-align: bottom;
  }
}

.contact {

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(rem(30), 23vh, rem(111));
  }
  &__box {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0 rem(48);
    margin-top: rem(17);
    padding-top: clamp(rem(30), 15vh, rem(63));
    padding-bottom: clamp(rem(30), 15vh, rem(63));
    position: relative;
    z-index: 2;

    &:before {
      content: '';
      width: rem(1);
      height: 100%;
      @include color-opacity($color-white, 0.1, background);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__email-info {
    display: flex;
    align-items: center;
    margin-top: rem(16);

    .icon {
      @include color-opacity($color-white, 0.5, fill);
    }
  }
  &__email-ttl {
    margin-left: rem(8);
    font-size: rem(16);
    @include color-opacity($color-white, 0.5);
  }
  &__or {
    line-height: 1.5em;
    @include color-opacity($color-white, 0.5);
    height: rem(48);
    display: flex;
    align-items: center;
  }
  &__download-info {
    margin-top: rem(16);
    display: flex;
    align-items: center;

    .icon {
      @include color-opacity($color-white, 0.5, fill);
    }
    &__ttl {
      font-size: 16px;
      @include color-opacity($color-white, 0.5);
      margin-left: rem(8);
    }
  }
}

.copyright {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(rem(30), 25vh, rem(140));
    padding-bottom: rem(48);
  }
  &__text {
    font-size: rem(14);
    @include color-opacity($color-white, 0.5);
  }
}

#particles-js {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.typing {
  width: 31ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}



// Media

@import "media";
