@import "vars";
@import "reset";
@import "fonts";
@import "icons";
@import "buttons";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $font-open-sans;
  font-size: rem(18);
  color: $color-text-main;
  min-width: rem(410);
  background: $color-main-bg;
}

use {
  pointer-events: none;
}

p {
  font-weight: 400;
  line-height: 1.5em;
  color: $color-text-gray;

  & + p {
    margin-top: rem(16);
  }
  & + .role-icon {
    margin-top: rem(64);
  }
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  padding: 0 rem(32) 0;
  width: 100%;
  max-width: rem(1200);
}

.header {
  &, & .wrapper {
    height: 80vh;
  }
  .wrapper {
    display: flex;
    align-items: center;
  }
}

.main {
  padding-bottom: rem(83);
}

.inner {
  max-width: rem(380);
  margin: 0 auto;
}

.h1, .h2, .h3, .h4 {
  line-height: 1.2em;
  color: $color-green;
  font-family: $font-geologica;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;

  & + p {
    margin-top: rem(16);
  }
}

.h1 {
  font-size: clamp(rem(40), 12.7vh, rem(96));
  font-weight: 700;
}
.h2 { font-size: rem(28); }
.h3 { font-size: rem(24); }
.h4 { font-size: rem(18); }

.link {
  color: red;
  transition: all, 0.3s, ease;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: blue;
  }
}

.t-center {
  text-align: center;
}
.hidden {
  visibility: hidden !important;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.intro {
  &__ttl {
    color: $color-text-main;
  }
  &__role {
    display: flex;
    align-items: center;
    margin-top: rem(8);
  }
  &__role-ttl {
    margin-left: rem(15);
    font-weight: 600;
    line-height: 1.5em;
  }
}

.about-me {
  background: $color-second-bg;

  .wrapper {
    padding-top: clamp(rem(30), 28vh, rem(128));
    padding-bottom: clamp(rem(30), 28vh, rem(128));
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 rem(32);
  }

  &__info {
    flex-basis: 40%;
  }
  &__foto {
    padding: rem(86) 0 0 rem(32);
    position: relative;
  }
  &__foto-layer-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  &__foto-layer-main {
    position: relative;
    z-index: 2;
  }
}



// Media

@import "media";
