// Path
$base-url-svg: '../assets/img/svg/';
$base-url-img: '../assets/img/';
$base-url-sprite: '../assets/img/sprites/';

// Colors
$color-green: #4cff9e;
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(25, 19, 34, 0.9);
$color-main-bg: #191322;
$color-second-bg: #1e1a2a;

// Fonts
$font-geologica: 'Geologica', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;


@use "sass:math";

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

@mixin color-opacity($color, $alpha, $property: color, $extra: null) {
  #{$property}: #{$extra} rgba(red($color), green($color), blue($color), $alpha);
} // @include color-opacity($color-white, 0.5, fill);

